body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("/img/logo.png");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
}*/

.bd-example-modal-lg .modal-dialog {
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content {
    background-color: transparent;
    border: none;
    font-size: large;
}